@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap');
body{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1.5;
}
.bnt-toolbar{
    margin-bottom: 15px;
}
.card-body{
    padding: 0.5rem;
}
.h5, h5{
    font-size: 2.25rem;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    color: #000000;
}
.card{
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.cardSet1{
    background-color: #669999;
}
.cardSet2{
    background-color: #cc6666;
}
.cardSet3{
    background-color: #cc9966;
}